/*.ui-widget-content {
  background: #353524 url(../jqueryui/1.11.4/themes/smoothness/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
}*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #234134 url(../jqueryui/1.11.4/themes/smoothness/images/ui-bg_glass_64_e6e6e6_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #555555;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #356234 url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x !important;
    color: #222222;
}
.slider_wrap {
  margin: 1rem;
  width: 30rem;
}

.currentSize {
  margin: 1rem;
}

.boxWrap {
    float: left;
    margin-left: 0.5rem;
    text-align: center;
}

.box {
  color: white;
}

.box p {
  display: inline-block;
  margin-top: 15%;
}

.px {
  width: 160px;
  height: 160px;
  background: #1abc9c;
}

.rem {
  width: 10rem;
  height: 10rem;
  background: #4aa3df;
}

.em {
  width: 10em;
  height: 10em;
  background: #34495e;
}

.width {
  margin-top: 0.5rem;
}